{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",  // support react hot update
    ["@babel/plugin-proposal-decorators", { "legacy": true }], // support @connect...
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
